h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}
p {
    font-family: Helvetica;
    font-size: 50px;
    font-weight: bold;
    color: purple;
    text-align: center;
}

body {
    background-picture: url(https://content.codecademy.com/articles/github-pages-via-web-app/happy-ice-cream.gif);
}    
